.item {
  cursor: pointer;
  .name {
    color: #233674;
    text-transform: capitalize;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
  }

  .code {
    text-align: right;
  }

  .image {
    margin: 12px 0px;
    img {
      height: 154px;
    }
  }

  .status {
    .desc {
      text-align: left;
    }
    .value {
      text-align: right;
    }
  }
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
